.section
  .row.no-margin
    .col
      = link_to community_path(@community), class:"text-color" do
        %h4.header-with-link.header-with-button
          = @community.name
    .col.no-padding
      - unless @community.users.include?(current_user)
        = link_to add_user_community_path(@community), method: :put, class: "btn-small waves-effect " do
          = icon('fas', 'user-plus', class: "left")
          join
      - else
        .btn-flat.disabled.no-padding.hide-on-med-and-down
          = material_icon.check.css_class('left')
          member
    .col.hide-on-small-and-down.right
      = link_to '#', class: "icon-action btn-flat waves-effect primary-text" do
        = icon('fas', 'users', class: "left")
        = @community.users.count
      = link_to '#', class: "icon-action btn-flat waves-effect primary-text" do
        = material_icon.library_books.css_class('left')
        = @community.courses.count
      = link_to '#', class: "icon-action btn-flat waves-effect primary-text" do
        = material_icon.forum.css_class('left')
        0
      = link_to '#', class: "icon-action btn-flat waves-effect primary-text" do
        = material_icon.share.css_class('left')
      .btn-flat.primary-text.waves-effect.no-padding.dropdown-trigger{"data-target" => "leave_dropdown"}
        = material_icon.more_vertical
        %ul#leave_dropdown.dropdown-content
          %li
            = link_to "Leave Group", remove_user_community_path(@community), method: :put, class: "red-text"
  .divider