.section.profile-header
  .container
    .row.no-margin.flex{style: "align-items: center"}
      .col.f1
        = link_to community_path(@community) do
          %h4.white-text.flow-text{style: "display: inline;"}
            %span= @community.name
      .col.f0
        - if can? :edit, @community
          = link_to edit_community_path(@community), class: "btn-flat waves-effect" do
            =icon('fas', 'edit', class: "left")
            Edit
        - unless @community.is_user_member(current_user)
          = link_to add_user_community_path(@community), method: :put, class: "btn-small waves-effect " do
            = icon('fas', 'user-plus', class: "left")
            join
        - else
          - role = @community.memberships.find_by(user_id: current_user.id).role
          = link_to '#leave-modal', class: "btn-small dark-button hide-on-med-and-down waves-effect modal-trigger" do
            = icon('fas', 'certificate', class: "left")
            = role

    .row.no-margin.flex{style: "align-items: center"}
      .col.contributors.valign-wrapper.f1
        - @community.users.take(5).each do |member|
          = image_tag member.get_avatar(30), class: "responsive-img circle", width: 30, height: 30
        = link_to members_community_path(@community), class: "white-text", style: "padding-left: 9px" do
          = @community.users.count
          = " Member" + (@community.users.count != 1 ? "s" : "")
      .col.f0
        = link_to '#share-modal', class: "btn-flat white-text waves-effect modal-trigger" do
          = icon('far', 'envelope-open', class: "left")
          Invite Friends
#leave-modal.modal
  .modal-content
    .row.no-margin
      .col.s12.center-align
        %h5 Sure you want to leave this community?
  .modal-footer
    .modal-close.waves-effect.btn-flat.grey-text Close
    = link_to remove_user_community_path(@community), method: :put, class: "btn-flat waves-effect " do
      leave
