- contributors = course.contributors
.card.course-card.hoverable
  .card-image
    .overlay-effect
    = link_to "", community_course_path(community, course), :class=>"container-clickable"
    = image_tag "HeaderImage-8.png", class: "sixteen-nine"
    %span.card-title= course.title
  .card-content
    .row.valign-wrapper
      .col.s12.author
        = icon('fas', 'users')
        - count = contributors.count
        = count
        = " Contributor" + (count != 1 ? "s" : "")
      .col.right{style: "white-space: nowrap;"}
        =icon('fas', 'lightbulb')
        %span
          = course.likes
    = link_to "", community_course_path(community, course), :class=>"container-clickable"
    .row
      .col.s12
        %p.truncate= course.course_info
  .card-action
    = link_to "See Course", community_course_path(community, course)