.card.hoverable
  %span.badge.card-badge.collaborative
    Open
  .card-content
    .row.no-margin
      .col
        .card-title.truncate= course.title
      .col.right
        .col.valign-wrapper
          = material_icon.video_library
          10
        .col.valign-wrapper.green-text
          = material_icon.local_offer
          %span 10%
    .row.no-margin
      .col.author
        = icon('fas', 'user-circle')
        = course.user.display_name

    = link_to "", view_course_lesson_path(course, course.first_lesson), :class=>"container-clickable"
    .row.no-margin
      .col.s12
        %p.truncate= course.course_info
  .card-action
    = link_to "See Course", view_course_lesson_path(course, course.first_lesson), :class=>"waves-effect"