.card.hoverable
  %span.badge.card-badge.collaborative Open
  .card-image
    = link_to "", view_course_lesson_path(course, course.first_lesson), :class=>"container-clickable"
    = image_tag "HeaderImage-8.png"
    %span.card-title= course.title
  .card-content
    .row.valign-wrapper
      .col.s8.author
        = icon('fas', 'user-circle')
        = course.user.display_name
      .col.s4.valign-wrapper.justify-right.green-text
        = material_icon.local_offer
        %span 10%
    = link_to "", view_course_lesson_path(course, course.first_lesson), :class=>"container-clickable"
    .row
      .col.s12
        %p.truncate= course.course_info
  .card-action
    = link_to "See Course", view_course_lesson_path(course, course.first_lesson), :class=>"waves-effect"