.course-list-stat.no-margin
  .col.valign-wrapper.justify-right.grey-text
    = material_icon.local_offer
    %span
      Views:
      = total
  .col.valign-wrapper.justify-right.green-text
    = material_icon.local_offer
    %span
      = green
      \%
.course-list-stat.no-margin
  .col.valign-wrapper.justify-right.light-blue-text
    = material_icon.local_offer
    %span
      = blue
      \%
.course-list-stat.no-margin
  .col.valign-wrapper.justify-right.red-text
    = material_icon.local_offer
    %span
      = red
      \%