/ This is the sidebar that appears on new/edit course and new/edit lesson
.collection.with-header.courses-sidebar{"data-behavior" => "sortable", "data-url" => "#{sort_community_course_lessons_path(@community, @course)}"}
  / Make the Course Info Item
  .collection-header.active
    - if @course.open
      %span.badge.card-badge.collaborative Open
    %h5
      = material_icon.book.css_class("white-text")
      = link_to @course.title, community_course_path(@community, @course), class: "primary-text"
  / For each lesson, make a collection item with that lesson and it's url
  - @lessons.each do |lesson|
    / Make Edit Lesson Url with ID
    - path_show_lesson = community_course_lesson_path(@community, @course, lesson)
    / Add Link to Collection Item
    = link_to path_show_lesson, :class => " collection-item", :id => dom_id(lesson) do
      = icon('fas','play-circle')
      .truncate.inline{style: "margin-left: 8px"}= lesson.title

/ Add Lesson Button
- if @course.open or (@course.user == current_user)
  = link_to new_community_course_lesson_path(@community, @course), :class => " btn-flat right" + disabled_if_no_user do
    = material_icon.add.css_class("left")
    ADD LESSON

