%center
  .section
  .container
    .z-depth-1.row.paper-popup
      = form_for(resource, as: resource_name, :class=>"col s12", url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .row
          .col.s12
            %h5 Welcome to Lumastic!
            %h6 Create your account to get started
        .row
          .input-field.col.s12
            = f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id: 'email', class: "validate"
            = f.label :email, for: "email"
        .row
          .input-field.col.s12
            = f.password_field :password, type: "password", autocomplete: "off" , id: 'password', class: "validate"
            = f.label :password, for: "password"
        %br/
        .row
          = f.button :submit, class: "col s12 btn btn-large waves-effect form-submit" do
            Sign Up
  Already have an account? #{link_to "Login", new_user_session_path}

