
= render 'components/community-header'
.container
  .row.no-margin.flex{style: "align-items: top;"}
    .col.f0
      %h2{style: "margin-top: 0.856rem;"}= icon('fas', 'comments')
    .col.f1
      %h5
        = @discussion.title
      = @discussion.description
  .divider
  .row.no-margin
    .col.s12
      .comment-form{style: "padding: 10px 0px"}
        - if user_signed_in?
          = form_for [@discussion, Comment.new] do |f|
            = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :discussion_id, :value => @discussion.id
            = f.hidden_field :content, id: "content"
            %trix-editor.comment{input: "content"}
            = f.button :submit, class: " btn-small dark-button waves-effect", style: "margin-top: 8px" do
              - btn_text = "post" if local_assigns[:btn_text].nil?
              = icon('fas', 'comment', class: "left")
              = btn_text
        - else
          = link_to "Sign up", new_user_registration_path
          to join the discussion!
        .divider
        %ul{style: "margin-top: 0"}
          - @discussion.comments.where(:parent_id => nil).order(upvote: :desc).each do |comment|
            = render 'comments/comment', comment: comment




:javascript
  function showReply(self) {
    $($(self).data("target")).toggle()
  }
