.reply-form
  .comment-form{style: "display: none; padding: 20px 0px 0px 0px", id: "#{comment.id}"}
    - if user_signed_in?
      = form_for [comment.lesson.course.community, comment.lesson.course.becomes(Course), comment.lesson, Comment.new] do |f|
        = f.hidden_field :user_id, :value => current_user.id
        = f.hidden_field :parent_id, :value => comment.id
        = f.hidden_field :content, id: "content#{comment.id}"
        %trix-editor.comment{input: "content#{comment.id}"}
        = f.button :submit, class: " btn-small dark-button waves-effect", style: "margin-top: 8px" do
          - btn_text = "post" if local_assigns[:btn_text].nil?
          = icon('fas', 'comment', class: "left")
          = btn_text




