.reply-form
  .card-panel.comment-card{"id" => "#{comment.id}", "style" => "display: none;"}
    .comment-content
      .row.col.s12.no-margin.display-name
        Thoughts?
      .row.col.s12.no-margin
        = form_for [comment.lesson.course.community, comment.lesson.course.becomes(Course), comment.lesson, Comment.new] do |f|
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :parent_id, :value => comment.id
          = f.text_area :content, class: "materialize-textarea"
          = f.button :submit, class: " btn-small waves-effect" do
            - btn_text = "Reply" if local_assigns[:btn_text].nil?
            = btn_text