.container.section
  .row.no-margin
    .col.s12
      = link_to admin_dashboard_path do
        =icon('fas', 'arrow-left')
        Back to Dashboard
      %h4{style: "margin-top: 0"} Lessons
      .divider
  .row.no-margin
    .col.s12
      %table.highlight
        %thead
          %tr
            %th
              =icon('fas', 'chalkboard-teacher')
              Title
            %th
              =icon('fas', 'book')
              Course
            %th
              =icon('fas', 'user')
              Contributor
            %th
              =icon('fas', 'lightbulb')
              Lightbulbs
            %th Actions
        %tbody
          - @lessons.each do |lesson|
            %tr
              %td= link_to lesson.try(:title), community_course_lesson_path(lesson.course.community, lesson.course, lesson)
              %td= link_to lesson.course.try(:title), community_course_path(lesson.course.community, lesson.course)
              %td= lesson.user.try(:display_name)
              %td= lesson.try(:likes)
              %td
                = link_to community_course_lesson_path(lesson.course.community, lesson.course, lesson), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "grey-text" do
                  = icon('fas', 'trash')
                  Delete