.container.section
  .row.no-margin
    .col.s12
      = link_to admin_dashboard_path do
        =icon('fas', 'arrow-left')
        Back to Dashboard
    .col.s12
      %h4{style: "margin-top: 0"} Courses
      .divider
  .row.no-margin
    .col.s12
      %table.highlight
        %thead
          %tr
            %th
              Name
            %th
              Type
            %th
              Lessons
            %th
              Last Updated
            %th
              Actions
        %tbody
          - @courses.each do |course|
            %tr
              %td= link_to course.try(:title), community_course_path(course.community, course)
              %td= course.type
              %td= course.lessons.count
              %td= time_ago_in_words(course.updated_at) + " ago"
              %td
                = link_to community_course_path(course.community, course), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "grey-text" do
                  = icon('fas', 'trash')
                  Delete