.container.section
  .row
    .col.s12
      %h4
        =icon('fas', 'trophy')
        Team Dashboard
        %em.grey-text Go for glory!
      .divider
  .row.no-margin
    .col.m12.l4
      .row.no-margin
        .col.s12
          %h6.grey-text
            = (Date.new(2019, 3, 4) - Date.today).to_i
            Days To Complete:

      .row.no-margin
        .col.s12
          = render 'admin-goal', :locals => {:text => "100 Members Signed Up", :percent => percent(User.all.count, 100).to_s + "%"}
        .col.s12
          = render 'admin-goal', :locals => {:text => "28 Lessons Made", :percent => percent(Lesson.all.count, 28).to_s + "%"}
        .col.s12
          = render 'admin-goal', :locals => {:text => "28 Lessons Made", :percent => percent(Lesson.all.count, 28).to_s + "%"}
    .col.m12.l8
      .row.no-margin
        .col.s12
          %h6.grey-text The Numbers

      .row.no-margin
        .col.s6.m6.l3
          = link_to admin_users_path do
            = render 'stat-card', :locals => {:model => "User"}
        .col.s6.m6.l3
          = link_to admin_communities_path do
            = render 'stat-card', :locals => {:model => "Community"}
        .col.s6.m6.l3
          = link_to admin_courses_path do
            = render 'stat-card', :locals => {:model => "Course"}
        .col.s6.m6.l3
          = link_to admin_lessons_path do
            = render 'stat-card', :locals => {:model => "Lesson"}
  .row.no-margin
    .col.l4.hide-on-med-and-down
      .row.no-margin
        .col.s12
          %h6.grey-text Member Activity
        .col.s12

        - @list_activities.each do |activity|
          .col.s12
            = render("activities/#{activity.trackable_type}/#{activity.action}", activity: activity) rescue render(activity)
    .col.m12.l8
      .row.no-margin
        .col.s12
          %p.center-align{style: "margin-bottom: 0"} Signups and Logins
          = line_chart @logins_and_signups.group_by_day(:created_at).count
        .col.s12
          %p.center-align{style: "margin-bottom: 0"}
            Contributions
            %em.grey-text (Courses, Lessons, Comments)
          = line_chart @contribution_activities.group_by_day(:created_at).count




