= render 'pages/homeHero'
.container
  .row.no-margin
    .col.s12
      %h4.header-with-link Find A Community
      = link_to "See More", communities_path, class: "modal-trigger waves-light waves-effect"
  .row
    .col.l4.m6.s12
      = render('components/new-community-card')
    - @communities.each do |community|
      .col.l4.m6.s12
        = render('components/community-card', :community => community)


  .row.no-margin
    .col.s12
      %h4.header-with-link Start Learning
  .row
    - @courses.each do |course|
      .col.l3.m6.s12
        = render('components/course-card-withaction', :course => course, :community => course.community)

= render('components/new-community-modal')


