= render 'pages/homeHero'
.container
  %h4.header-with-link Start Learning
  = link_to "See More", "#"
  .row
    - @courses.each do |course|
      .col.l3.m6.s12
        .card.hoverable
          .card-image
            = link_to "", view_course_lesson_path(course, course.first_lesson), :class=>"container-clickable"
            = image_tag "testimages/ballThumb.jpg"
          .card-content
            = link_to "", view_course_lesson_path(course, course.first_lesson), :class=>"container-clickable"
            %span.card-title.home-card-title= course.title
          .card-action
            = link_to "See Course", view_course_lesson_path(course, course.first_lesson), :class=>"waves-effect"

