= render 'pages/homeHero'
.container
  .row.no-margin
    .col.s12
      %h4.header-with-link Find Your Tribe
      = link_to "See More", "#"
  .row
    .col.l4.m6.s12
      = render('components/community-card')
    .col.l4.m6.s12
      = render('components/community-card')
    .col.l4.m6.s12
      = render('components/community-card')
  .row.no-margin
    .col.s12
      %h4.header-with-link Start Learning
      = link_to "See More", "#"
  .row
    - @courses.each do |course|
      .col.l3.m6.s12
        = render('components/course-card', :course => course)

