= render 'pages/homeHero'
.container
  .row.no-margin
    .col.s12
      %h4.header-with-link Find A Community
      = link_to "See More", communities_path, class: "modal-trigger waves-light waves-effect"
  .row
    - @communities.each do |community|
      .col.l4.m6.s12
        = render('components/community-card', :community => community)
    .col.l4.m6.s12
      = render('components/new-community-card')

  .row.no-margin
    .col.s12
      %h4.header-with-link Start Learning
      = link_to "See More", "#"
  .row
    - @courses.each do |course|
      .col.l3.m6.s12
        = render('components/course-card-withaction', :course => course)


= render('components/new-community-modal')

