<%= render 'pages/homeHero' %>
<div class="content-container">

  <div class="thumb-section">
    <h2 class="thumb-header first">Top Courses <%= link_to "See More", "#" %></h2>
    <div class="thumb-row">

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/ballThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb last" do %>
        <%= image_tag "testimages/fbThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

    </div>
  </div>

  <div class="thumb-section">
    <h2 class="thumb-header">Top Courses <%= link_to "See More", "#" %></h2>
    <div class="thumb-row">

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/ballThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb" do %>
        <%= image_tag "testimages/bitThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

      <%= link_to '#', :class => "thumb last" do %>
        <%= image_tag "testimages/fbThumb.jpg", :class => "thumb-video" %>
        <div class="thumb-text">
          <h3 class="thumb-title">AP Chemistry</h3>
          <p class="thumb-teacher"><%= icon('fas', 'user') %> Teacher Name</p>
          <p class="thumb-rating"><%= icon('fas', 'star') %> 5.0</p>
        </div>
      <%end%>

    </div>
  </div>


</div>
