<div class="content-container top-container">
  <div class="vid-content-container">
    <div class="vid-content-left">
      <div class="vid-header">
        <%= link_to "Mrs. Stull's Algebra 1", "#", class: "material-link" %>
        <h2 class="vid-title">Pastry Chef Attempts To Make Gourmet Skittles | Gourmet Makes | Bon Appétit</h2>

      </div>
      <%= render 'videoPlayer' %>
      <div class="vid-controls">
        <%= link_to '#', class:"vid-control split left", title:"Previous" do%>
          <%=icon('fas', 'step-backward')%>
        <%end%>
        <%= link_to '#', class:"vid-control split", title:"Next" do%>
          <%=icon('fas', 'step-forward')%>
        <%end%>
        <%= link_to '#', class:"vid-control", title:"Course Contens" do%>
          <%=icon('fas', 'list')%>
        <%end%>
      </div>
    </div>
    <div class="vid-content-right">

    </div>
  </div>

  <%= link_to '#' do%>
    <%=icon('fas', 'user-circle')%> Teacher Name
  <% end %>
</div>
