<li class="collection-item avatar">
  <!--        Course Thumbnail-->
  <div class="valign-wrapper">
    <%= link_to "#" do %>
      <%= image_tag "testimages/ballThumb.jpg", class: "collections-thumb responsive-img" %>
    <%end%>
  </div>
  <div class="row course-collection-row" style="padding-right: 160px; padding-top: 5px;" >
    <!--        Course Title and Basic Info-->
    <div class="col s12 l9">
      <span class="title truncate">This is a very long course title</span>
      <span class="new badge left-badge grey" data-badge-caption="<%="Draft" %>"></span>
    </div>
    <!--          Stats  Info-->
    <div class="col s3 hide-on-med-and-down">
      <div class="row course-list-stat ">
        <div class="col s12 valign-wrapper justify-right green-text">
          <%= material_icon.local_offer %>
          <span class="">~%</span>
        </div>
      </div>
      <div class="row course-list-stat ">
        <div class="col s12 valign-wrapper justify-right light-blue-text">
          <%= material_icon.local_offer %>
          <span class="">~%</span>
        </div>
      </div>
      <div class="row course-list-stat ">
        <div class="col s12 valign-wrapper justify-right red-text">
          <%= material_icon.local_offer %>
          <span class="">~%</span>
        </div>
      </div>
    </div>

  </div>
  <!--          Edit and Actions-->
  <div href="#!" class="secondary-content valign-wrapper ">
    <%= link_to "#", :class=> "btn-small hide-on-small-only" do %>
      <i class="material-icons left">mode_edit</i>
      <span class="">Edit</span>
    <%end%>
    <%= link_to "#", :class=> "dropdown-trigger", :"data-target"=>"optionsDropdown" do %>
      <i class="material-icons left">more_vertical</i>
    <%end%>
    <ul id='optionsDropdown' class='dropdown-content'>
      <li class="hide-on-med-and-up"><a href="#!">Edit</a></li>
      <li><a href="#!">Preview</a></li>
      <li><a href="#!">Share</a></li>
      <li><a href="#!" class="red-text">Delete</a></li>
    </ul>
  </div>
</li>