= form_for([@course, @lesson]) do |form|
  / Show Errors
  - if lesson.errors.any?
    #error_explanation
      %h2
        = pluralize(lesson.errors.count, "error")
        prohibited this lesson from being saved:
      %ul
        - lesson.errors.full_messages.each do |message|
          %li= message
  / Put in form
  / Lesson Title
  .row.no-margin
    .input-field.col.s9.m9.l9
      = form.label :title, "Lesson Title", for: "title"
      = form.text_field :title, id: "title", style: "font-size: 24px"
    .col.s3
      .row.course-list-stat
        .col.s12.valign-wrapper.justify-right.green-text
          = material_icon.local_offer
          %span
            = @tickets[2]
            \%
      .row.course-list-stat
        .col.s12.valign-wrapper.justify-right.light-blue-text
          = material_icon.local_offer
          %span
            = @tickets[1]
            \%
      .row.course-list-stat
        .col.s12.valign-wrapper.justify-right.red-text
          = material_icon.local_offer
          %span
            = @tickets[0]
            \%
  .row
    .col.s12.m12.l7
      .video-container
        - if @embed_url.nil?
          = image_tag "AddVideo-8.png", class: "responsive-img"
        - else
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "#{@embed_url}", :width => "853"}
            Please enter a valid youtube url

    .input-field.col.s12.m12.l5
      .row
        = form.label :video_url, "YouTube URL", for: "video_url"
        = form.text_field :video_url, id: "video_url"
      .row
        = form.label :keywords
        = form.text_field :keywords
  / Lesson Info
  .row
    .input-field.col.s12
      = form.label :lesson_info, "Lesson Info", for: "lesson_info"
      = form.text_area :lesson_info, id: "lesson_info", class: "materialize-textarea"
  / Materials
  .row
    %h5.col.s12 Materials
  .row
    = form.fields_for :materials do |material|
      .input-field.col.s12.m6.l4
        = material.select :category, [['Choose Type', {:disabled => true, :selected => true}], 'Lesson Plan', 'Slides', 'Activity', 'Worksheet'], id: "category"
        = material.label :category, "Category", for: "category"
      .input-field.col.s12.m6.l4
        = material.label :title
        = material.text_field :title
      .file-field.input-field.col.m12.l4
        .btn-floating.waves-effect.left.dark-button
          = material_icon.attachment
          = material.file_field :file
        .file-path-wrapper
          = text_field_tag nil, (material.object.file.nil? ?  material.object.file.filename : ""), {class: 'file-path ', placeholder: 'Upload a file...', :disabled => true}
  / Save
  .row
    = form.button :submit, class: " btn btn waves-effect" do
      - btn_text = "Save" if local_assigns[:btn_text].nil?
      = btn_text
    = link_to "Cancel", :back, class: "btn-flat"