.vid-player-container
  .vid-iframe-container
    .vid-overlay-container
      .vid-text-overlay= locals[:question]
      .vid-buttons.row
        %button#red.vid-button.red-vid-button{"data-type" => "in", "data-url" => "#{count_ticket_course_lesson_path(@course, @lesson)}"}
          = icon("fab", "youtube")
          %br/
          Hasn't clicked yet.
        %button#blue.vid-button.yellow-vid-button{"data-type" => "in", "data-url" => "#{count_ticket_course_lesson_path(@course, @lesson)}"}
          = icon("fab", "youtube")
          %br/
          I'm starting to get it.
        %button#green.vid-button.green-vid-button{"data-type" => "in", "data-url" => "#{count_ticket_course_lesson_path(@course, @lesson)}"}
          = icon("fab", "youtube")
          %br/
          I got this!
    #player

:javascript
  player = new Youtube.Player({
      video_id: '#{@vid_id}',
      https: true,
      params: {origin: '#{ENV['BASE_URL']}', rel: '0',color: 'white',theme:'light',},
      on: {'time_change' : bringBackButtons},
  });
  $('#player').replaceWith(player.get_iframe());
  vidbuttonOnClick();

