%h1 Lessons
%table
  %thead
    %tr
      %th Title
      %th Video
      %th Info
      %th Materials
      %th{:colspan => "3"} Actions
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.title
        %td= lesson.video_url
        %td= lesson.lesson_info
        %td
          - for material in lesson.materials
            = material.title + ", "
        %td= link_to 'Show', course_lesson_path(:id => lesson.id)
        %td= link_to 'Edit', edit_course_lesson_path(:id => lesson.id)
        %td= link_to 'Destroy', course_lesson_path(:id => lesson.id), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Lesson', new_course_lesson_path
= link_to '<- Back to Course List', courses_path

