.container.section
  = render('components/community-header')
  .row
    .col.s12.m12.push-l4.l8
      .row.no-margin.valign-wrapper
        .col.s12
          %h5.flow-text.header-with-button{style: "margin-top: 0px;"}
            = @lesson.title
          - if @lesson.user == current_user
            = link_to edit_community_course_lesson_path(@community, @course, @lesson), class: "btn-flat waves-effect" do
              = material_icon.edit.css_class('left')
              Edit
      = render 'videoPlayer', locals: { question: "How confident are you with this topic already?"}
      .row.section.valign-wrapper.no-margin
        .col
          = link_to '#', class: "author text-color" do
            = icon('fas', 'user-circle')
            = @lesson.user.display_name
        .col.vid-actions{style: "margin-left: auto;"}
          .grey-text.inline
            Helpful?
          %a.btn-small.green-btn.waves-effect{onclick:"vote('upvote');"}
            = icon('fas', 'arrow-up', class: 'left')
            %span#upvotes= @lesson.likes.to_i
          %a.btn-small.red-btn.waves-effect{onclick:"vote('downvote');"}
            = icon('fas', 'arrow-down', class: 'left')
            %span#downvotes= @lesson.dislikes.to_i
      .row.no-margin
        .col.s12
          .truncate= @lesson.lesson_info
      .row.section.no-margin
        .col.grey-text
          SHOW MORE
      .divider

    .col.s12.m12.pull-l8.l4
      = render 'components/toc'

:javascript
  function vote(vote) {
    Rails.ajax({
      type: "PATCH",
      url: "#{vote_community_course_lesson_path(@community, @course, @lesson)}",
      data: "vote=" + vote,
    });
    if(vote == "upvote")  {
      new_val = parseInt($('#upvotes').text()) + 1;
      $('#upvotes').text(new_val);
    } else {
      new_val = parseInt($('#downvotes').text()) + 1;
      $('#downvotes').text(new_val);
    }
  }