<div class="container">
  <div class="section"></div>
  <div class="row ">
    <h4 class=" header-with-button"><%=@course.title %> </h4>
    <span class="new badge inline-badge grey" data-badge-caption="<%="Draft" %>"></span>
    <%= link_to new_course_path, :class=>"right btn " + (@lessons.size == 0 ? "disabled": "" ) do %>
      Publish <%=material_icon.public.css_class('right')%>
    <%end%>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col m4 s12">
      <h6>Course Contents</h6>
      <%= render 'lessonSidebar' %>
    </div>

    <div class="col m8 s12">
<!--      Lesson Title-->
      <div class="section"></div>
      <div class="row no-margin">
        <div class="col s9 m9 l9">
          <label>Lesson Title </label>
          <h5 style="margin-top: 0px"><%=@lesson.title %></h5>
        </div>
        <div class="col s3">
          <div class="row course-list-stat ">
            <div class="col s12 valign-wrapper justify-right green-text">
              <%= material_icon.local_offer %>
              <span class=""><%= @tickets[2] %>%</span>
            </div>
          </div>
          <div class="row course-list-stat ">
            <div class="col s12 valign-wrapper justify-right light-blue-text">
              <%= material_icon.local_offer %>
              <span class=""><%= @tickets[1] %>%</span>
            </div>
          </div>
          <div class="row course-list-stat ">
            <div class="col s12 valign-wrapper justify-right red-text">
              <%= material_icon.local_offer %>
              <span class=""><%= @tickets[0] %>%</span>
            </div>
          </div>
        </div>
      </div>
<!--Video Embed-->
      <div class="row">
        <div class="col s12 m12 l7">
          <div class="video-container">
            <iframe width="853" height="480" src="<%=@embed_url %>" frameborder="0" allowfullscreen>
              Please enter a valid youtube url
            </iframe>
          </div>
        </div>
<!--URL and Keywords-->
        <div class="col m12 l5">
          <div class="row">
            <label>YouTube URL </label>
            <p class="truncate"><%=@lesson.video_url %></p>
          </div>
          <div class="row">
            <label>Keywords </label>
            <p><%=@lesson.keywords %></p>
          </div>
        </div>
      </div>
<!--Lesson Info-->
      <div class="row">
        <div class="col s12 m6">
          <label>Lesson Info </label>
          <p><%=@lesson.lesson_info %></p>
        </div>
      </div>
<!--      Materials-->
      <div class="row">
        <h5 class="col s12">Materials</h5>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <% @lesson.materials.each do |material| %>
            <p><%= material.title %></p>
          <%end%>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= link_to edit_course_lesson_path(@course, @lesson), :class=> "btn waves-effect" do %>
            <i class="material-icons left">mode_edit</i>
            Edit
          <%end%>
        </div>
      </div>


    </div>
  </div>
</div>