%center
  .section
    .container
      .card.row.paper-popup.left-align
        .card-content
          = form_for(resource, as: resource_name, :class=>"col s12", url: session_path(resource_name)) do |f|
            = devise_error_messages!
            .row
              .col.s12.left-align
                %h4 Nice to see you again!
                %h6.grey-text
                  Login to your account.
            .row.no-margin
              .input-field.col.s12
                = f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id: 'email', class: "validate"
                = f.label :email, for: "email"
            .row
              .input-field.col.s12
                = f.email_field :password, type: "password", autocomplete: "off" , id: 'password', class: "validate"
                = f.label :password, for: "password"
              %label{:style => "float: right;"}
                = link_to "Forgot your password?", new_user_password_path
            .row
              = f.button :submit, class: "col s12 btn btn-large waves-effect" do
                Login
            .row.center-align
              Don't have an account? #{link_to "Create one!", new_user_registration_path}
