/ This is the sidebar that appears on new/edit course and new/edit lesson

.collection.courses-sidebar{"data-behavior" => "sortable", "data-url" => "#{sort_course_lessons_path(@course)}"}

  / Make the Course Info Item
  = link_to @course_path_nav, :class => current_class?(@course_path_nav) + " collection-item not-sortable" do
    Course Info

  / For each lesson, make a collection item with that lesson and it's url
  - @lessons.each do |lesson|
    / Make Edit Lesson Url with ID
    / Add Link to Collection Item
    = link_to course_lesson_path(@course, lesson), :class => current_class?(course_lesson_path(@course, lesson))+" collection-item", :id => dom_id(lesson) do
      = material_icon.drag_handle.css_class('left')
      = lesson.title

/ Add Lesson Button
= link_to new_course_lesson_path(@course), :class => " btn-flat right" do
  = material_icon.add.css_class("left")
  Add Lesson

