= form_with(model: course.becomes(Course), local: true) do |form|
  / Show Errors
  - if course.errors.any?
    #error_explanation
      %h2
        = pluralize(course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - course.errors.full_messages.each do |message|
          %li= message
  / Put in form

  .row.no-margin
    / Course Title
    .input-field.col.s12.m12.l12
      = form.label :title, "Course Title", for: "title"
      = form.text_field :title, id: "title"

  / Course Info
  .row.no-margin
    .input-field.col.s12
      = form.label :course_info, for: "course_info"
      = form.text_area :course_info, id: "course_info", class: "materialize-textarea"

  / Keywords
  .row.no-margin
    .input-field.col.s12
      = form.label :keywords
      = form.text_field :keywords
      = hidden_field_tag(:community_id, @community.id)
  .row
    .input-field.col
      .switch
        %label
          Private
          = form.check_box :open
          %span.lever
          Open
          .inline.tooltipped{"data-tooltip" => "Open courses allow members to collaborate and add lessons", "data-position" => "top"}
            =icon('far', 'question-circle')

  / Save
  .row
    = form.button :submit, class: " btn btn waves-effect" do
      - btn_text = "Save" if local_assigns[:btn_text].nil?
      = btn_text
    = link_to "Cancel", :back, class: "btn-flat"
