= form_with(model: [@community, course.becomes(Course)], local: true) do |form|
  / Show Errors
  - if course.errors.any?
    #error_explanation
      %h2
        = pluralize(course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - course.errors.full_messages.each do |message|
          %li= message
  / Put in form

  .row.no-margin
    .col.s12
      = image_tag course.get_thumbnail, class: "responsive-img"
    .input-field.file-field.col.s12.flex
      .f0.btn-flat{onclick: "document.getElementById('thumbField').click();"}
        %span
          = icon('fas', 'paperclip')
          Add Thumbnail
        = form.file_field :thumbnail, style: "display: none;", id: "thumbField"
      .f1.file-path-wrapper
        %input.file-path.validate
    / Course Title
    .input-field.col.s12
      = form.label :title, "Course Title", for: "title"
      = form.text_field :title, id: "title"

  / Course Info
  .row.no-margin
    .col.s12
      = form.label :course_info, for: "course_info"
    .input-field.col.s12
      = form.hidden_field :course_info, id: "course_info", class: "materialize-textarea"
      %trix-editor.writeup{input: "course_info"}

  / Keywords
  .row.no-margin
    .input-field.col.s12
      = form.label :keywords
      = form.text_field :keywords
  .row
    .input-field.col
      .switch
        %label
          Private
          = form.check_box :open
          %span.lever
          Open
          .inline.tooltipped{"data-tooltip" => "Open courses allow members to collaborate and add lessons", "data-position" => "top"}
            =icon('far', 'question-circle')

  / Save
  .row
    .col
      = form.button :submit, class: " btn btn waves-effect" do
        - btn_text = "Save" if local_assigns[:btn_text].nil?
        = btn_text
      = link_to "Cancel", :back, class: "btn-flat"
    - unless course.new_record?
      .col.right
        = link_to material_icon.delete, community_course_path(@community, @course), method: :delete, data: {confirm: "Are you sure you want to delete this course?"}, class: "grey-text"
