.container
  .section
  .row
    %h4.header-with-button
      = @course.title
    %span.new.badge.inline-badge.grey{"data-badge-caption" => "Draft"}
    = link_to new_course_path, :class=>"right btn " + (@lessons.size == 0 ? "disabled": "" ) do
      Publish #{material_icon.public.css_class('right')}
  .divider
  .row
    .col.m4.s12
      %h5 Course Contents
      = render 'courseSidebar'
    .col.m8.s12
      .section
      = render 'form', course: @course

:javascript
  M.updateTextFields();

