<div class="section container">
  <div class="row ">
    <h4 class=" header-with-button"><%=@course.title %> </h4>
    <span class="new badge inline-badge grey" data-badge-caption="<%="Draft" %>"></span>
    <%= link_to new_course_path, :class=>"right btn " + (@lessons.size == 0 ? "disabled": "" ) do %>
      Publish <%=material_icon.public.css_class('right')%>
    <%end%>
  </div>
  <div class="row">
    <div class="col m4 s12">
      <h5>Course Contents</h5>
      <%= render 'courseSidebar' %>
    </div>
    <div class="col m8 s12">
      <h5>Course Info</h5>
      <%= render 'form', course: @course %>
    </div>
  </div>
</div>
<script>
  M.updateTextFields();
</script>