<div class="section container">
  <p class="" id="notice"><%= notice %></p>
  <div class="row ">
    <h4 class=" header-with-button"><%=@course.title %> </h4>
    <span class="new badge inline-badge grey" data-badge-caption="<%="Draft" %>"></span>
    <%= link_to 'Save & Publish', new_course_path, :class=>"right btn" %>
  </div>
  <div class="row">
    <div class="col s3">
      <%= render 'lessonCollection', course_id: @course.id, lessons: @lessons %>
    </div>
    <div class="col s9">
      <%= render 'form', course: @course %>
    </div>
  </div>
</div>
<script>
  M.updateTextFields();
</script>