
<div class="section container">
  <p class="" id="notice"><%= notice %></p>
  <div class="row ">
    <h4 class=" header-with-button">New Course</h4>
    <span class="new badge inline-badge grey" data-badge-caption="<%="Not Saved" %>"></span>
    <%= link_to 'Save & Publish', new_course_path, :class=>"right btn disabled" %>
  </div>
  <div class="row">
    <div class="col s3">
      <%= render 'lessonCollection', new: true %>
    </div>
    <div class="col s9">
      <%= render 'form', course: @course, btn_text: "Create Course" %>
    </div>
  </div>
</div>
