<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Course Info:</strong>
  <%= @course.course_info %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject %>
</p>

<p>
  <strong>Instructor Bio:</strong>
  <%= @course.instructor_bio %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @course.keywords %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
