<div class="container">
  <div class="section"></div>
  <div class="row ">
    <h4 class=" header-with-button"><%=@course.title %> </h4>
    <span class="new badge inline-badge grey" data-badge-caption="<%="Draft" %>"></span>
    <%= link_to new_course_path, :class=>"right btn " + (@lessons.size == 0 ? "disabled": "" ) do %>
      Publish <%=material_icon.public.css_class('right')%>
    <%end%>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col m4 s12">
      <h5>Course Contents</h5>
      <%= render 'courseSidebar' %>
    </div>
    <div class="col m8 s12">
      <div class="row">
        <div class="col m6 s12 show-field">
          <label>Course Title </label>
          <p><%=@course.title %></p>
        </div>
        <div class="col m6 s12 show-field">
          <label>Subject </label>
          <p><%=@course.subject %></p>
        </div>
        <div class="col s12 show-field">
          <label>Course Info </label>
          <p><%=@course.course_info %></p>
        </div>
        <div class="col s12 show-field">
          <label>Keywords </label>
          <p><%=@course.keywords %></p>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= link_to edit_course_path(@course), :class=> "btn waves-effect" do %>
            <i class="material-icons left">mode_edit</i>
            Edit
          <%end%>
        </div>
      </div>


    </div>
  </div>
</div>