- contributors = @course.contributors
.container.section
  = render 'components/community-header', :community => @community
  .row
    .col.m4.s12
      = render 'components/toc-course'
    .col.m8.s12
      .row.no-margin
        .col.s12.show-field
          %label Course Info
          %p= @course.course_info
      .row.no-margin
        .col.s12.m6.show-field
          %label Created
          %p= @course.created_at.strftime("%m/%d/%Y") + " by " + @course.creator
        .col.s12.m6.show-field
          %label Contributors
          %p= contributors.join(", ")
        -if can? :edit, @course
          .col.s12
            = link_to edit_community_course_path(@community, @course), :class=> "btn waves-effect" do
              =material_icon.mode_edit.css_class('left')
              Edit
