<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @material.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @material.title %>
</p>

<p>
  <strong>File url:</strong>
  <%= @material.file_url %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
