%footer.page-footer
  .container
    .row.valign-wrapper
      .col.s4
        %h6 Our Mission
        %p We encourage and enable dreams through learning.
        = link_to "Join Our Team", '/join'
      .col.s4.center-align.full-height
        = image_tag "Symbol.svg", :id=>"footer-logo-symbol"
      .col.s4.right-align
        = mail_to("contact@lumastic.com")
        .social
          = link_to (icon('fab', 'facebook')).html_safe, "https://www.facebook.com/Lumastic/"
          = link_to (icon('fab', 'medium')).html_safe, "https://medium.com/lumastic"
          = link_to (icon('fab', 'linkedin')).html_safe, "https://www.linkedin.com/company/lumastic/about/"
          = link_to (icon('fab', 'youtube-square')).html_safe, "https://www.youtube.com/channel/UCHxMkAiAbH762mqWUq4yP2A"
  .footer-copyright
    .container
      © 2019 Headfake Digital LLC
      %a.grey-text.text-lighten-4.right{:href => "#!"} Live the life you have imagined.
