<header>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Subjects", '#' %></li>
        <li><%= link_to "Teach", '#' %></li>
        <% if current_user %>
        <li><%= link_to 'My Courses', '#' %><li>
        <li><%= link_to 'My Account', '#' %><li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
