
    <nav class="main-nav">
      <div class="nav-left-container">
        <div class="nav-menu-container" id="toggleBtn" onclick="toggleNav()">☰</div>
        <div class="nav-logo-container">
          <a href="<%=root_path%>">
          <%= image_tag "LumasticV16.svg", :class => "nav-logo-image" %>
          </a>
        </div>
        <ul class="nav-items" id="nav-left-items">
          <li class="nav-item">
            <% subjectCaret = 'Subjects ' + icon('fas', 'caret-down')%>
            <%= link_to subjectCaret.html_safe, '#' %>
          </li>
        </ul>
      </div>

      <div class="nav-search-container">
        <%= icon('fas', 'search') %>
        <input type="text" placeholder="What will you learn?" />
      </div>
      <ul class="nav-items" id="nav-right-items">
        <% if current_user %>
        <li class="nav-item">
          <%= link_to 'My Courses', courses_path %>
        </li>
        <li class="nav-item" id="sign-out-nav">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class="nav-item" id="sign-up-nav">
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>

        <li class="nav-item" id="login-nav">
          <%= link_to "Login", new_user_session_path %>
        </li>
        <% end %>
      </ul>
    </nav>
