<div class="navbar-fixed">

  <ul id="subjectDropdown" class="dropdown-content">
    <li><a href="#!"><%=material_icon.edit%>Language Arts</a></li>
    <li><a href="#!"><%=icon('fas', 'paint-brush')%>Art</a></li>
    <li><a href="#!"><%=icon('fas', 'music')%>Music</a></li>
    <li><a href="#!"><%=icon('fas', 'divide')%>Math</a></li>
    <li><a href="#!"><%=icon('fas', 'flask')%>Science</a></li>
    <li><a href="#!"><%=icon('fas', 'compass')%>History</a></li>
    <li><a href="#!"><%=icon('fas', 'globe')%>Foreign Language</a></li>
  </ul>
  <ul id="userDropdown" class="dropdown-content">
    <li><a href="#!"><%=icon('fas', 'info-circle')%>Account Info</a></li>
    <li><%= link_to destroy_user_session_path, :method => :delete do %><%=icon('fas', 'sign-out-alt')%>Signout<%end %></li>
  </ul>
  <nav>
    <div class="nav-wrapper container">
      <div class="left">
          <a data-target="slide-out" class="menu-button sidenav-trigger show-on-large no-link-link">
            <%= material_icon.menu %>
          </a>
          <%= link_to root_path, :class=>"brand-logo" do %>
            <%= image_tag 'LumasticV16' %>
          <%end%>
        </div>
          <ul class="left left-nav hide-on-med-and-down">
            <li>
              <a class="dropdown-trigger" href="#!" data-target="subjectDropdown">
                Subjects
                <%=material_icon.arrow_drop_down.css_class("right")%>
              </a>
            </li>
            <li>
              <form class=" hide-on-med-and-down"  >
                <div class="input-field" id="search-form">
                  <input id="search" type="search" placeholder="What makes you curious?"required />
                  <label class="label-icon" for="search" ><%=material_icon.search%></label>
                  <div id="searchResults" ></div>
                </div>
              </form>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <% if !current_user%>
              <li>
                <%= link_to "Sign Up", new_user_registration_path, :class=>" btn waves-effect waves-light" %>
              </li>
              <li>
                <%= link_to "Login", new_user_session_path, :class=>"  btn waves-effect waves-light" %>
              </li>
            <%else%>
              <li class="user-nav">
                <a class="dropdown-trigger valign-wrapper" href="#!" data-target="userDropdown">
                  <%=icon('fas', 'user-circle')%>
                  <%=current_user.email %>
                  <%=material_icon.arrow_drop_down.css_class("right")%>
                </a>
              </li>
            <%end%>

          </ul>
    </div>
  </nav>
</div>


<%= render 'layouts/sidenav' %>
