
    <nav class="main-nav">
      <div class="nav-left-container">
        <div class="nav-menu-container" id="toggleBtn" onclick="toggleNav()">☰</div>
        <div class="nav-logo-container">
          <a href="<%=root_path%>">
          <%= image_tag "LumasticV16.svg", :class => "nav-logo-image" %>
          </a>
        </div>
        <%= link_to root_path, :class => 'nav-items', :id =>'nav-subject' do %>
            <div class="nav-item">
              <%= ('Subjects'+ '&nbsp;' +icon('fas', 'caret-down')).html_safe %>
            </div>
        <% end %>
      </div>

      <div class="nav-search-container">
        <%= icon('fas', 'search') %>
        <input type="text" placeholder="What will you learn?" />
      </div>
      <div class="nav-right-container">
        <div class="nav-items" id="nav-right-items">
          <% if current_user %>
            <%= link_to root_path, :class => 'nav-item', :id => 'nav-user' do %>
              <%= icon('fas', 'user-circle') %>
              <%= current_user.email  %>
            <% end %>
          <% else %>
          <div class="nav-item" id="sign-up-nav">
            <%= link_to "Sign Up", new_user_registration_path %>
          </div>

          <div class="nav-item" id="login-nav">
            <%= link_to "Login", new_user_session_path %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
