/ Sidebar
%ul#slide-out.sidenav
  %li
    .user-view
      .background= image_tag "HeaderImage-8.png"
      %a{:href => "#user"}= image_tag "Symbol.svg", class: "circle"
      %a{:href => "#name"}
        %span.white-text.name Please Sign Up
      %a{:href => "#email"}
        %span.white-text.email or Login
  %li
    = link_to root_path do
      = material_icon.home
      Home
  %li
    = link_to new_user_registration_path do
      = icon('fas', 'user-plus')
      Sign Up
  %li
    = link_to new_user_session_path do
      = icon('fas', 'sign-in-alt')
      Login

