<!--Sidebar-->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background"><%= image_tag "blur-book-stack-books-590493.jpg"%></div>
      <a href="#user"><%= image_tag "Symbol.svg", class: "circle"%></a>
      <a href="#name"><span class="white-text name"><%= current_user ? current_user.email : "-"%></span></a>
      <a href="#email"><span class="white-text email"><%= current_user ? current_user.email : "-"%></span></a>
    </div>
  </li>

  <li><div class="divider"></div></li>
  <li><a class="subheader">Teaching</a></li>
  <li>
    <%= link_to courses_path do %>
      <%=material_icon.library_books%>
      My Courses
    <%end%>
  </li>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <%=material_icon.local_library%>
      Resource Center
    <%end%>
  </li>

  <li><div class="divider"></div></li>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete, :class=>"tiny" do %>
      Terms & Conditions
    <%end%>
  </li>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete, :class=>"tiny" do %>
      Privacy Policy
    <%end%>
  </li>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete, :class=>"tiny" do %>
      Sign Out
    <%end%>
  </li>
</ul>