/ Sidebar
%ul#slide-out.sidenav
  %li
    .user-view
      .background= image_tag "HeaderImage-8.png"
      %a= image_tag current_user.get_avatar(100), class: "circle"
      %a
        %span.white-text.name= current_user.display_name
      %a
        %span.white-text.email= current_user.email
  %li
    = link_to root_path do
      = material_icon.home
      Home
  - if is_admin(current_user)
    %li
      = link_to admin_dashboard_path do
        = icon('fas', 'wrench')
        Admin
  %li
    = link_to member_index_path do
      = material_icon.person
      My Profile
  %li
    = link_to communities_path do
      = icon('fas', 'compass')
      Find Communities
  %li
    = link_to new_community_path do
      = icon('fas', 'plus-circle')
      New Community
  %li
    %a.subheader
      MY COMMUNITIES
  - @my_communities.each do |community|
    %li
      = link_to community_path(community) do
        = community.name
  %li
    .divider
  %li
    = link_to destroy_user_session_path, :method => :delete, :class=>"tiny" do
      Sign Out
  %li
    = link_to 'https://medium.com/lumastic/what-is-lumastic-d205e8331867', :class=>"tiny" do
      Our Story
  %li
    = link_to '/legal', :class=>"tiny" do
      Terms of Use & Community Guidelines
