/ Sidebar
%ul#slide-out.sidenav
  %li
    .user-view
      .background= image_tag "HeaderImage-8.png"
      %a{:href => "#user"}= image_tag "Symbol.svg", class: "circle"
      %a{:href => "#name"}
        %span.white-text.name= current_user.display_name
      %a{:href => "#email"}
        %span.white-text.email= current_user.email
  %li
    = link_to root_path do
      = material_icon.home
      Home

  %li
    %ul.collapsible.collapsible-accordion
      %li
        %a.collapsible-header
          = icon('fas', 'users', class: "left")
          My Communities
        .collapsible-body
          %ul
            - @my_communities.each do |community|
              %li
                = link_to community.name, community_path(community)
  %li
    .divider
  %li
    = link_to destroy_user_session_path, :method => :delete, :class=>"tiny" do
      Sign Out
  %li
    = link_to '/legal', :class=>"tiny" do
      Our Story
  %li
    = link_to '/legal', :class=>"tiny" do
      Terms of Use & Community Guidelines


